.flex {
  display: flex;
}

.jsb {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-30 {
  flex: 0 1 28%;
  margin: 1%;
}
.flex-70 {
  flex: 0 1 68%;
  margin: 1%;
}
